@using HikiComic.ViewModels.Users;
@model UserInformationViewModel;

@{
    ViewData["Title"] = Model.User.Email;
}

<div>
    <form class="form">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 0px !important;">
                <h4 class="modal-title">Account</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mandatory">
                            <label class="form-label">COINS Left</label>
                            <label class="form-control form-control-lg">@Model.Account.CoinsLeft</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mandatory">
                            <label class="form-label">COINS Deposited</label>
                            <label class="form-control form-control-lg">@Model.Account.CoinsDeposited</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mandatory">
                            <label class="form-label">COINS Spent</label>
                            <label class="form-control form-control-lg">@Model.Account.CoinsSpent</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mandatory">
                            <label class="form-label">COINS Received</label>
                            <label class="form-control form-control-lg">@Model.Account.CoinsReceived</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mandatory">
                            <label class="form-label">Date Modified</label>
                            <label class="form-control form-control-lg">@Model.Account.DateModified</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<hr style="margin: 0;" />

<div>
    <form class="form">
        <div class="modal-content">
            <div class="modal-header" style="margin-top: 25px; padding-top: 0px !important;">
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first-name" class="form-label">First Name</label>
                            <label class="form-control form-control-lg">@Model.User.FirstName</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="last-name" class="form-label">Last Name</label>
                            <label class="form-control form-control-lg">@Model.User.LastName</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mandatory">
                            <label for="email" class="form-label">Email</label>
                            <label class="form-control form-control-lg">@Model.User.Email</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mandatory">
                            <label for="username" class="form-label">Username</label>
                            <label class="form-control form-control-lg">@Model.User.UserName</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone-number" class="form-label">Phone Number</label>
                            <label class="form-control form-control-lg">@Model.User.PhoneNumber</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="date-of-birth">
                            <label for="date-of-birth" class="form-label">Date of Birth</label>
                            <label class="form-control form-control-lg">@Model.User.DOB</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="gender" class="form-label">Gender</label>
                            <label class="form-control form-control-lg">@Model.User.GenderName</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mandatory">
                            <label for="is-active" class="form-label">Active</label>
                            <label class="form-control form-control-lg">@Model.User.IsDeleted</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mandatory">
                            <label for="is-active" class="form-label">Roles</label>
                            <div class="form-control form-control-lg" id="roles">
                                @if (Model.User.StringRoles != null)
                                {
                                    @foreach (var item in Model.User.StringRoles)
                                    {
                                        <span class="badge rounded-pill text-white text-bg-secondary">@item</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style=" text-align: left; display: block; margin-bottom: 30px; padding-top: 5px !important">
            <a asp-action="Index" asp-controller="Users" class="btn btn-primary" style="width: 70px;">Back</a>
        </div>
    </form>
</div>
