@using HikiComic.ViewModels.Base;
@model ElementIdViewModel;

<div class="col-md-6">
    <div class="form-group mandatory">
        <label for="@Model.ElementId-username-created" class="form-label">UserName Created</label>
        <label id="@Model.ElementId-username-created" name="@Model.ElementId-username-created" class="form-control form-control-lg"></label>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group mandatory">
        <label for="@Model.ElementId-date-created" class="form-label">Date Created</label>
        <label id="@Model.ElementId-date-created" name="@Model.ElementId-date-created" class="form-control form-control-lg"></label>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="@Model.ElementId-username-updated" class="form-label">UserName Updated</label>
        <label id="@Model.ElementId-username-updated" name="@Model.ElementId-username-updated" class="form-control form-control-lg"></label>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="@Model.ElementId-date-updated" class="form-label">Date Updated</label>
        <label id="@Model.ElementId-date-updated" name="@Model.ElementId-date-updated" class="form-control form-control-lg"></label>
    </div>
</div>